@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 155 53% 21%;
    --foreground: 0 0% 98%;

    --card: 155 55% 23%;
    --card-foreground: 0 0% 98%;

    --popover: 155 53% 21%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 155 53% 21%;

    --secondary: 155 55% 23%;
    --secondary-foreground: 0 0% 98%;

    --muted: 155 20% 40%;
    --muted-foreground: 155 10% 70%;

    --accent: 155 55% 23%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 155 30% 35%;
    --input: 155 30% 35%;
    --ring: 155 53% 21%;

    --chart-1: 0 0% 98%;
    --chart-2: 0 0% 85%;
    --chart-3: 0 0% 75%;
    --chart-4: 0 0% 65%;
    --chart-5: 0 0% 55%;

    --radius: 1rem;
    
    --sidebar-background: 155 53% 21%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 155 53% 21%;
    --sidebar-accent: 155 55% 23%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 155 30% 35%;
    --sidebar-ring: 155 53% 21%;
  }

  .dark {
    --background: 155 53% 21%;
    --foreground: 0 0% 98%;

    --card: 155 55% 23%;
    --card-foreground: 0 0% 98%;

    --popover: 155 53% 21%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 155 53% 21%;

    --secondary: 155 55% 23%;
    --secondary-foreground: 0 0% 98%;

    --muted: 155 20% 40%;
    --muted-foreground: 155 10% 70%;

    --accent: 155 55% 23%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 155 30% 35%;
    --input: 155 30% 35%;
    --ring: 155 53% 21%;

    --sidebar-background: 155 53% 21%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 155 53% 21%;
    --sidebar-accent: 155 55% 23%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 155 30% 35%;
    --sidebar-ring: 155 53% 21%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: repeating-linear-gradient(90deg, hsl(var(--background)), hsl(var(--background)) 20px, hsl(var(--card)) 20px, hsl(var(--card)) 40px);
    scroll-behavior: smooth;
  }
  ::selection {
    @apply bg-primary/80 text-primary-foreground;
  }
}

@layer utilities {
  .text-gradient {
    @apply text-foreground;
  }
}
