@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* #000000 */
    --foreground: 0 0% 98%; /* #fafafa */

    --card: 0 0% 3.9%; /* #0a0a0a */
    --card-foreground: 0 0% 98%; /* #fafafa */

    --popover: 0 0% 3.9%; /* #0a0a0a */
    --popover-foreground: 0 0% 98%; /* #fafafa */

    --primary: 36 84% 49%; /* #DA901A */
    --primary-foreground: 0 0% 5%; /* A dark color for text on primary buttons */

    --secondary: 0 0% 14.9%; /* #262626 */
    --secondary-foreground: 0 0% 98%; /* #fafafa */

    --muted: 0 0% 14.9%; /* #262626 */
    --muted-foreground: 0 0% 63.9%; /* #a3a3a3 */

    --accent: 7 69% 45%; /* #BF3A26 */
    --accent-foreground: 0 0% 98%; /* #fafafa */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%; /* #262626 */
    --input: 0 0% 14.9%; /* #262626 */
    --ring: 36 84% 49%; /* #DA901A */

    --chart-1: 36 84% 49%;
    --chart-2: 7 69% 45%;
    --chart-3: 200 80% 50%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;

    --radius: 0.5rem;
    
    --sidebar-background: 0 0% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 36 84% 49%;
    --sidebar-primary-foreground: 0 0% 5%;
    --sidebar-accent: 0 0% 14.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 14.9%;
    --sidebar-ring: 36 84% 49%;
  }

  .dark {
    --background: 0 0% 0%; /* #000000 */
    --foreground: 0 0% 98%; /* #fafafa */

    --card: 0 0% 3.9%; /* #0a0a0a */
    --card-foreground: 0 0% 98%; /* #fafafa */

    --popover: 0 0% 3.9%; /* #0a0a0a */
    --popover-foreground: 0 0% 98%; /* #fafafa */

    --primary: 36 84% 49%; /* #DA901A */
    --primary-foreground: 0 0% 5%;

    --secondary: 0 0% 14.9%; /* #262626 */
    --secondary-foreground: 0 0% 98%; /* #fafafa */

    --muted: 0 0% 14.9%; /* #262626 */
    --muted-foreground: 0 0% 63.9%; /* #a3a3a3 */

    --accent: 7 69% 45%; /* #BF3A26 */
    --accent-foreground: 0 0% 98%; /* #fafafa */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%; /* #262626 */
    --input: 0 0% 14.9%; /* #262626 */
    --ring: 36 84% 49%; /* #DA901A */

    --sidebar-background: 0 0% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 36 84% 49%;
    --sidebar-primary-foreground: 0 0% 5%;
    --sidebar-accent: 0 0% 14.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 14.9%;
    --sidebar-ring: 36 84% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
  ::selection {
    @apply bg-primary/80 text-primary-foreground;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-foreground/80 to-foreground;
  }
}